In [2]:
import math
import pandas as pd
import vk
import numpy as np

In [3]:
token = '17d81369af7030637ea2b69f310d8a3590225a7093f487da3db6b15386614750c08fd0421274d969878e7'

session = vk.Session(access_token=token)
vk_api = vk.API(session=session)

In [99]:
group_id = 64545476
topic_id = 29268766
count = 3748
cel = count // 2000
b = []
drob = math.ceil((count - cel * 2000) / 100)

In [103]:
for i in range(cel):
    b.append(20)
b.append(drob)
res = pd.DataFrame()
for i in range(cel + 1):
    inner_count = b[i]
    req = f"""var i = 0;
                      var ans = [];
                      while (i != {inner_count}) {{
                      ans.splice( i * 100, 0, API.board.getComments({{"group_id": {group_id}, "topic_id": {topic_id}, "count": 100, "offset": (i + {i * 20}) * 100}}).items);
                      i = i + 1;
                      }};
                      return ans;
            """
    test = vk_api.execute(code=req, v=5.95)
    for j in range(len(test)):
        res = pd.concat([res, pd.DataFrame(test[j])])

In [104]:
res

,id,from_id,date,text,attachments
0,8,-64545476,1390012122,–ó–¥–µ—Å—å –ø–æ–∫—É–ø–∞—Ç–µ–ª–∏ –º–æ–≥—É—Ç –æ—Å—Ç–∞–≤–∏—Ç—å –æ—Ç–∑—ã–≤—ã –æ –Ω–∞—à–µ–π...,NaN
1,27,49774489,1393000499,–ö–ª–∞—Å—Å–Ω–æ–µ –ø–ª–∞—Ç—å–µ!–º–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å –∫–∞—á–µ—Å—Ç–≤–æ...,"[{'type': 'photo', 'photo': {'album_id': -12, ..."
2,30,41377353,1393520936,–ö–æ—Å—Ç—é–º –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è! –¥–æ—Å—Ç–∞–≤–∫–∞ –∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç...,"[{'type': 'photo', 'photo': {'album_id': -15, ..."
3,31,41377353,1393551301,,"[{'type': 'photo', 'photo': {'album_id': -15, ..."
4,32,65669059,1393675411,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,"[{'type': 'photo', 'photo': {'album_id': -7, '..."
...,...,...,...,...,...
43,9459,280737410,1611940589,!!!!!–î–≤–∞ –º–µ—Å—è—Ü–∞ –Ω–∞–∑–∞–¥ –∑–∞–∫–∞–∑–∞–ª–∞ –∫–æ—Å—Ç—é–º —É –º–µ–Ω–µ–¥–∂...,"[{'type': 'photo', 'photo': {'album_id': -12, ..."
44,9460,280737410,1611940733,"–ö–∞–∂–¥—ã–π –¥–µ–Ω—å –Ω–æ–≤—ã–µ –æ—Ç–≥–æ–≤–æ—Ä–∫–∏, —Ç–æ –±—É—Ö–≥–∞–ª—Ç–µ—Ä–∞ –Ω–µ—Ç...",NaN
45,9461,280737410,1611940806,,"[{'type': 'photo', 'photo': {'album_id': -12, ..."
46,9463,98761340,1615272770,"–ë–æ–ª—å—à–µ –Ω–∏—á–µ–≥–æ –Ω–µ –∑–∞–∫–∞–∂—É –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ, —Ç–∞–∫ –∫...","[{'type': 'photo', 'photo': {'album_id': -12, ..."
47,9464,98761340,1615273083,"–ê —Å–∞—Ä–∞—Ñ–∞–Ω –Ω—É —ç—Ç–æ –≤–æ–æ–±—â–µ —Å–º–µ—ÖüòÇ, –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ...","[{'type': 'photo', 'photo': {'album_id': -12, ..."

In [109]:
res = res[(res['text'] != '') & (res['from_id'] > 0)].reset_index(drop=True)
res

,id,from_id,date,text,attachments
0,27,49774489,1393000499,–ö–ª–∞—Å—Å–Ω–æ–µ –ø–ª–∞—Ç—å–µ!–º–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å –∫–∞—á–µ—Å—Ç–≤–æ...,"[{'type': 'photo', 'photo': {'album_id': -12, ..."
1,30,41377353,1393520936,–ö–æ—Å—Ç—é–º –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è! –¥–æ—Å—Ç–∞–≤–∫–∞ –∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç...,"[{'type': 'photo', 'photo': {'album_id': -15, ..."
2,32,65669059,1393675411,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,"[{'type': 'photo', 'photo': {'album_id': -7, '..."
3,35,5619187,1395460192,"–î–µ–≤–æ—á–∫–∏, —Å–ø–∞—Å–∏–±–æ, –≤—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ...","[{'type': 'photo', 'photo': {'album_id': -12, ..."
4,36,132262324,1395655062,"–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ—à–µ–ª, –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–ª–∞—Å—å –ø...",NaN
...,...,...,...,...,...
3601,9458,538100508,1611391540,"–ü–æ–∑–¥—Ä–∞–≤–ª—è—é! \n–¢—ã –Ω–∞—à—ë–ª, —á—Ç–æ –∏—Å–∫–∞–ª! \n–¢–∞–∫ –∫–∞–∫ –∏...",NaN
3602,9459,280737410,1611940589,!!!!!–î–≤–∞ –º–µ—Å—è—Ü–∞ –Ω–∞–∑–∞–¥ –∑–∞–∫–∞–∑–∞–ª–∞ –∫–æ—Å—Ç—é–º —É –º–µ–Ω–µ–¥–∂...,"[{'type': 'photo', 'photo': {'album_id': -12, ..."
3603,9460,280737410,1611940733,"–ö–∞–∂–¥—ã–π –¥–µ–Ω—å –Ω–æ–≤—ã–µ –æ—Ç–≥–æ–≤–æ—Ä–∫–∏, —Ç–æ –±—É—Ö–≥–∞–ª—Ç–µ—Ä–∞ –Ω–µ—Ç...",NaN
3604,9463,98761340,1615272770,"–ë–æ–ª—å—à–µ –Ω–∏—á–µ–≥–æ –Ω–µ –∑–∞–∫–∞–∂—É –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ, —Ç–∞–∫ –∫...","[{'type': 'photo', 'photo': {'album_id': -12, ..."
3605,9464,98761340,1615273083,"–ê —Å–∞—Ä–∞—Ñ–∞–Ω –Ω—É —ç—Ç–æ –≤–æ–æ–±—â–µ —Å–º–µ—ÖüòÇ, –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ...","[{'type': 'photo', 'photo': {'album_id': -12, ..."

In [110]:
ids = res['from_id']
ids = ids.unique()
ids = ids.tolist()
ids = [str(int) for int in ids]
ids

['49774489',
 '41377353',
 '65669059',
 '5619187',
 '132262324',
 '63279641',
 '218275476',
 '20025351',
 '55045007',
 '11272206',
 '37927986',
 '177117334',
 '242336729',
 '50412523',
 '15798797',
 '230856385',
 '9810516',
 '14915747',
 '59710367',
 '209254022',
 '21774433',
 '15430444',
 '107310974',
 '98820447',
 '17899684',
 '150792883',
 '192514775',
 '213016337',
 '225713064',
 '222929258',
 '32663861',
 '152986457',
 '239163282',
 '154273129',
 '104870721',
 '68515075',
 '6610147',
 '70527201',
 '92534021',
 '167862612',
 '4128238',
 '2819159',
 '49866379',
 '157139244',
 '75760954',
 '255070911',
 '2629',
 '79963562',
 '208190231',
 '142374223',
 '252480183',
 '33980516',
 '94027720',
 '208568839',
 '204265148',
 '55356698',
 '923917',
 '102319969',
 '145669384',
 '152711468',
 '57767690',
 '75255585',
 '20392195',
 '42721429',
 '57709583',
 '16733510',
 '11032548',
 '159903881',
 '12200775',
 '190498937',
 '213519058',
 '224563320',
 '200507435',
 '2054461',
 '43547055',
 '7005288',
 '182141215',
 '4730434',
 '205512937',
 '36562349',
 '3278283',
 '27502406',
 '65244362',
 '4242483',
 '36878521',
 '44809618',
 '230635799',
 '65557520',
 '108896210',
 '94799483',
 '79569093',
 '155810231',
 '207054889',
 '144238530',
 '146111537',
 '160969900',
 '176379082',
 '180549625',
 '211272612',
 '3508009',
 '3111551',
 '195807244',
 '33067860',
 '224685364',
 '127447616',
 '209344179',
 '7889075',
 '22623345',
 '173371280',
 '79191695',
 '249914833',
 '23779871',
 '136689717',
 '1792514',
 '17265886',
 '102244220',
 '224426565',
 '227305765',
 '200618036',
 '12761684',
 '254586419',
 '3229222',
 '34217217',
 '44712540',
 '42130815',
 '20321927',
 '142072446',
 '165391328',
 '11623792',
 '75199050',
 '17194034',
 '31824306',
 '177973610',
 '17345598',
 '137966836',
 '58727797',
 '136103937',
 '17027037',
 '15058716',
 '18258922',
 '210905340',
 '132703983',
 '234540664',
 '69319441',
 '33429229',
 '3408598',
 '161384717',
 '20171349',
 '22441690',
 '147048259',
 '16406118',
 '32993442',
 '59529595',
 '142732889',
 '2669205',
 '84858608',
 '94583386',
 '111017101',
 '138212621',
 '59319003',
 '44183191',
 '177532947',
 '274511784',
 '268689895',
 '161711309',
 '71375278',
 '30446056',
 '103815175',
 '4321014',
 '36390926',
 '185490947',
 '2872170',
 '27552455',
 '30568686',
 '12014323',
 '29955073',
 '38357977',
 '7609430',
 '253475364',
 '192282679',
 '720446',
 '30591796',
 '2701345',
 '162937428',
 '3833719',
 '84578309',
 '264342827',
 '6882498',
 '9047232',
 '75183980',
 '180229599',
 '50473322',
 '37095072',
 '5379444',
 '5194271',
 '50609607',
 '76197403',
 '238428499',
 '1693605',
 '79900353',
 '16302414',
 '261669381',
 '180885764',
 '58356048',
 '40075813',
 '146246890',
 '1710997',
 '68381126',
 '145232322',
 '34257445',
 '63048454',
 '17504095',
 '9609814',
 '226111086',
 '180822767',
 '13439161',
 '25291571',
 '186595672',
 '6823890',
 '41156922',
 '48342174',
 '173161409',
 '43611326',
 '13891925',
 '44278585',
 '64752',
 '11552973',
 '100546242',
 '4433662',
 '266572907',
 '255841459',
 '28484328',
 '7829684',
 '272596468',
 '71490417',
 '250241208',
 '132432016',
 '43600031',
 '256193764',
 '35053801',
 '3033383',
 '153598287',
 '78994472',
 '153643004',
 '188699340',
 '163688743',
 '141076795',
 '33241072',
 '131535528',
 '55832857',
 '1880977',
 '161487976',
 '9949371',
 '1801845',
 '7672269',
 '19008373',
 '65533837',
 '234374680',
 '49717103',
 '51219078',
 '52906410',
 '92944733',
 '57029279',
 '33923118',
 '160296303',
 '23633694',
 '65075750',
 '62340973',
 '218133425',
 '1744656',
 '249064887',
 '90055341',
 '160931328',
 '10117282',
 '2196235',
 '129702181',
 '2010221',
 '40460179',
 '27001007',
 '59599165',
 '26421677',
 '52143493',
 '78636960',
 '7021692',
 '151226655',
 '6453363',
 '247050442',
 '151549020',
 '2764321',
 '8715286',
 '5976973',
 '3064955',
 '9520862',
 '185159424',
 '115915',
 '273398886',
 '134755079',
 '43592682',
 '1282019',
 '18324523',
 '243394950',
 '5641970',
 '117177249',
 '155087959',
 '73455244',
 '102207939',
 '106172',
 '24294451',
 '68093150',
 '183218653',
 '26300455',
 '30102342',
 '498622',
 '226117915',
 '132067430',
 '5865312',
 '43702097',
 '102587067',
 '250626997',
 '14793082',
 '29371983',
 '23323904',
 '59120004',
 '133068645',
 '41491984',
 '101396954',
 '10380850',
 '30330261',
 '162154744',
 '16280065',
 '184069065',
 '52374357',
 '242042095',
 '143494495',
 '39269312',
 '76241017',
 '10865087',
 '238872133',
 '140340327',
 '8092362',
 '230811944',
 '333865',
 '7019854',
 '287622781',
 '66324477',
 '8110300',
 '4710807',
 '122058633',
 '39460871',
 '144256677',
 '270585',
 '1614567',
 '48810913',
 '225291814',
 '162203225',
 '76165387',
 '34451989',
 '161633960',
 '137199264',
 '83694049',
 '164692566',
 '63944079',
 '25856360',
 '23131148',
 '103304525',
 '240201188',
 '18726768',
 '161911151',
 '2864451',
 '3119044',
 '19926036',
 '222331810',
 '1530847',
 '132072188',
 '56596277',
 '185962586',
 '92653800',
 '50694157',
 '6139639',
 '66895200',
 '221163668',
 '8735654',
 '18403343',
 '76460503',
 '224129227',
 '91602940',
 '147266628',
 '3062895',
 '205566955',
 '227735631',
 '29560680',
 '224623973',
 '4453329',
 '1961303',
 '263175866',
 '215037934',
 '55661280',
 '784995',
 '211848539',
 '275549477',
 '72814542',
 '15794507',
 '215458489',
 '135875328',
 '22452818',
 '174066360',
 '3304260',
 '246501195',
 '132458398',
 '91450500',
 '201233015',
 '160349255',
 '70352287',
 '179628668',
 '17350039',
 '37424514',
 '139359350',
 '1538929',
 '181829973',
 '8332715',
 '196558273',
 '123796383',
 '21430312',
 '935706',
 '56599999',
 '127107078',
 '23254695',
 '2983937',
 '9455475',
 '54942247',
 '162343',
 '662691',
 '266286437',
 '3266460',
 '155024642',
 '138360698',
 '115160928',
 '250016431',
 '240910032',
 '5273479',
 '222271215',
 '53516372',
 '156691911',
 '1519005',
 '262882333',
 '288239104',
 '27960640',
 '249623830',
 '32646135',
 '223017821',
 '1617809',
 '7099951',
 '218260466',
 '142070651',
 '50966757',
 '90416624',
 '21574085',
 '33173804',
 '70905012',
 '224918082',
 '86001508',
 '25056631',
 '457428',
 '2190358',
 '138611126',
 '2659703',
 '1772735',
 '35623760',
 '117410488',
 '63963377',
 '51848786',
 '100092398',
 '192945835',
 '186493592',
 '294128362',
 '191645912',
 '18904896',
 '139445918',
 '58417416',
 '8701905',
 '139883692',
 '299256963',
 '297170091',
 '52829062',
 '438585',
 '7340972',
 '4307785',
 '108550625',
 '253765477',
 '192675798',
 '281161232',
 '296489424',
 '203107848',
 '183138170',
 '289936778',
 '26319681',
 '32769691',
 '113809845',
 '9479626',
 '63410777',
 '10412676',
 '268986240',
 '237686237',
 '26029755',
 '39857109',
 '55438304',
 '156720206',
 '170808213',
 '195977201',
 '54617915',
 '6133419',
 '284435860',
 '155068268',
 '87082962',
 '494220',
 '281428053',
 '9877541',
 '19406512',
 '50957494',
 '3615630',
 '40545903',
 '49140102',
 '81507630',
 '192428154',
 '35146053',
 '178603045',
 '36158183',
 '40407519',
 '3366686',
 '165601898',
 '546330',
 '136760370',
 '132280928',
 '25174973',
 '14064643',
 '190254336',
 '114763256',
 '219017877',
 '135313136',
 '575872',
 '152600106',
 '137450955',
 '194905447',
 '93033837',
 '66738132',
 '283769309',
 '285353513',
 '134006707',
 '79640893',
 '250429699',
 '78415106',
 '53926457',
 '213124767',
 '203647',
 '59120283',
 '19293325',
 '287201971',
 '283921004',
 '6856284',
 '133500957',
 '176749775',
 '24384415',
 '113715432',
 '51689751',
 '451903',
 '19295874',
 '156443060',
 '235107588',
 '41527071',
 '290026769',
 '98742799',
 '147359280',
 '186345597',
 '5190423',
 '182484075',
 '33937413',
 '120413539',
 '97234259',
 '64874804',
 '281538064',
 '8659365',
 '173811211',
 '131051814',
 '4854750',
 '72657660',
 '39464457',
 '254232457',
 '291118663',
 '18062205',
 '154494162',
 '99230469',
 '101495685',
 '1698282',
 '289317887',
 '4502463',
 '274971146',
 '1759490',
 '243577819',
 '12987181',
 '3329689',
 '187352157',
 '1280845',
 '172126239',
 '205288279',
 '154074259',
 '277933431',
 '247990126',
 '120455609',
 '220902852',
 '2981944',
 '66099736',
 '4879265',
 '49605305',
 '2664338',
 '297895095',
 '219678846',
 '173335862',
 '76924645',
 '225442980',
 '198036142',
 '230952697',
 '299841939',
 '15182195',
 '247681236',
 '142971968',
 '146251082',
 '200434964',
 '52430639',
 '94684228',
 '317285984',
 '241094528',
 '310248310',
 '173712284',
 '305419871',
 '273349561',
 '33576075',
 '231250698',
 '18372357',
 '152719630',
 '87951444',
 '1509175',
 '35744347',
 '166692710',
 '234548902',
 '92283329',
 '296350307',
 '41374856',
 '201898881',
 '47302694',
 '312265087',
 '183734450',
 '167480450',
 '887931',
 '33427803',
 '155680580',
 '151985155',
 '303095102',
 '43884517',
 '25744012',
 '189201402',
 '8724936',
 '35843198',
 '17141631',
 '220713825',
 '300070788',
 '300853075',
 '1414245',
 '318832351',
 '272938347',
 '169045962',
 '235438638',
 '205212239',
 '321961079',
 '179662145',
 '70049292',
 '8617649',
 '207337615',
 '6762702',
 '8354578',
 '160498129',
 '151186127',
 '88580121',
 '290602165',
 '136110923',
 '22459896',
 '100050153',
 '6304175',
 '39771524',
 '225563772',
 '14053359',
 '9921628',
 '2672521',
 '294149939',
 '169562684',
 '4543160',
 '12795790',
 '2597229',
 '261443858',
 '22378470',
 '36836196',
 '95292779',
 '10092450',
 '188657246',
 '236580113',
 '235461430',
 '154644118',
 '177293674',
 '143446984',
 '305970920',
 '3333642',
 '206077759',
 '240559411',
 '22855528',
 '225877475',
 '61655831',
 '60898973',
 '141438198',
 '13248905',
 '49539290',
 '334275',
 '236586811',
 '50289648',
 '267799464',
 '23899291',
 '241209572',
 '36545384',
 '192022430',
 '219521408',
 '307798708',
 '107935779',
 '39626155',
 '100881044',
 '90905728',
 '87214349',
 '288849055',
 '67014683',
 '23224463',
 '163246718',
 '243927127',
 '241493916',
 '231772819',
 '34380828',
 '155119666',
 '296194006',
 '136716142',
 '50006235',
 '121856672',
 '172891313',
 '183214740',
 '159102288',
 '23261589',
 '166293252',
 '80574667',
 '112107585',
 '162872158',
 '35533775',
 '11111546',
 '196586',
 '315047604',
 '22160689',
 '85223051',
 '3014633',
 '2896619',
 '1492580',
 '23339173',
 '60447395',
 '323829923',
 '268189250',
 '3109185',
 '20334222',
 '167113071',
 '155797655',
 '143137678',
 '68757177',
 '305708716',
 '258934217',
 '66260496',
 '145429836',
 '277418812',
 '245098619',
 '156058430',
 '130435864',
 '167808678',
 '161096942',
 '65157874',
 '315343067',
 '7288737',
 '151240586',
 '65290574',
 '139015812',
 '222573116',
 '88058823',
 '139701666',
 '97206711',
 '62782702',
 '319120824',
 '1321199',
 '46048939',
 '9453474',
 '13875854',
 '53141474',
 '51101906',
 '132341578',
 '135604990',
 '209338090',
 '100379660',
 '15914440',
 '12041138',
 '3849463',
 '91004554',
 '174178099',
 '151547836',
 '12240046',
 '26344420',
 '250647162',
 '7725984',
 '147628747',
 '62815155',
 '202022916',
 '275390902',
 '137071877',
 '22220325',
 '23809399',
 '13122582',
 '34333986',
 '231555246',
 '138815859',
 '65123321',
 '2079431',
 '287759952',
 '308152388',
 '70148784',
 '194198588',
 '40265275',
 '144024572',
 '326918584',
 '112124860',
 '334356491',
 '282232851',
 '213143157',
 '247063565',
 '256865362',
 '254813996',
 '211886868',
 '96505971',
 '211665744',
 '154229356',
 '13718161',
 '107856922',
 '1977423',
 '137936776',
 '17700338',
 '8309002',
 '175406730',
 '173893342',
 '80762857',
 '171297332',
 '252385278',
 '142751498',
 '2292251',
 '82188245',
 '134496529',
 '32698104',
 '98801324',
 '67474032',
 '107553197',
 '142315507',
 '165269939',
 '119708390',
 '129351032',
 '308905470',
 '34167072',
 '205225174',
 '175284860',
 '159429382',
 '251600380',
 '52814032',
 '7945004',
 '136924779',
 '133364997',
 '322793560',
 '20937632',
 '151371467',
 '130433375',
 '103926799',
 '210609441',
 '35509340',
 '332071045',
 '20560216',
 '37767694',
 '66751062',
 '4449652',
 '4439023',
 '137389083',
 '4163032',
 '27822062',
 '138770126',
 '71724404',
 '318408678',
 '95698199',
 '83673717',
 '65038863',
 '55768510',
 '8397360',
 '232887707',
 '170536207',
 '186193800',
 '242073995',
 '131784318',
 '3497682',
 '50109701',
 '193758585',
 '154168443',
 '10820712',
 '56213564',
 '244527428',
 '151138527',
 '26018115',
 '63270918',
 '71517277',
 '101827699',
 '3217051',
 '5724041',
 '141567781',
 '165192071',
 '30010523',
 '265499126',
 '317393610',
 '2253179',
 '68330213',
 '306264028',
 '79937740',
 '278811646',
 '305804343',
 '66135586',
 '89650260',
 '88376113',
 '127805794',
 '302266288',
 '44869763',
 '258772224',
 '4473897',
 '258815550',
 '266838555',
 '69421113',
 '179729929',
 '256550366',
 '22568049',
 '144530748',
 '288997163',
 '15228040',
 '226162474',
 '255146278',
 '179319120',
 '65528135',
 '251149602',
 '5900894',
 '267380954',
 '32349249',
 '32756354',
 '324760931',
 '139950218',
 '50221700',
 '328971021',
 '36338913',
 '212583771',
 '2704531',
 '39851001',
 '39443901',
 '75336842',
 '7787947',
 '5509944',
 '236983647',
 '23826734',
 '197457834',
 '197575071',
 '199597168',
 '246618320',
 '301137043',
 '255686809',
 '305553225',
 '190871071',
 '149088047',
 '1417274',
 '3003917',
 '38574650',
 '94612272',
 '263505859',
 '39579110',
 '125808097',
 '2595232',
 '8407704',
 '62946894',
 '336705086',
 '199814223',
 '84050349',
 '220862608',
 '305493506',
 '137107761',
 '286304349',
 ...]

In [111]:
users_count = len(ids)
users_count

2986

In [113]:
cel = math.ceil(users_count / 1000)
profiles = pd.DataFrame()
for i in range(cel):
    ids_ = ",".join(ids[i * 1000: (i+1)*1000])
    test = vk_api.users.get(user_ids=ids_, fields='bdate, city,country,occupation,relation,sex', offset=i*1000, v=5.95)
    profiles = pd.concat([profiles, pd.DataFrame(test)])
profiles = profiles.reset_index(drop=True)

In [114]:
profiles.shape

(2986, 13)

In [130]:
result = pd.merge(res, profiles, how='left', left_on='from_id', right_on='id')
result

,id_x,from_id,date,text,attachments,first_name,id_y,last_name,deactivated,sex,can_access_closed,is_closed,bdate,city,country,relation,relation_partner,occupation
0,27,49774489,1393000499,–ö–ª–∞—Å—Å–Ω–æ–µ –ø–ª–∞—Ç—å–µ!–º–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å –∫–∞—á–µ—Å—Ç–≤–æ...,"[{'type': 'photo', 'photo': {'album_id': -12, ...",DELETED,49774489,,deleted,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30,41377353,1393520936,–ö–æ—Å—Ç—é–º –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è! –¥–æ—Å—Ç–∞–≤–∫–∞ –∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç...,"[{'type': 'photo', 'photo': {'album_id': -15, ...",–†–æ–∑–∞–ª–∏—è,41377353,–ù–∞—É–º–æ–≤–∞,NaN,1,True,False,16.2.1983,"{'id': 135, 'title': '–°—Ç–µ—Ä–ª–∏—Ç–∞–º–∞–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",4.0,"{'first_name': '–ê–ª–µ–∫—Å–µ–π', 'id': 446145037, 'la...",NaN
2,32,65669059,1393675411,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,"[{'type': 'photo', 'photo': {'album_id': -7, '...",Adelya,65669059,Irekovna,NaN,1,True,False,NaN,"{'id': 151, 'title': '–£—Ñ–∞'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3,35,5619187,1395460192,"–î–µ–≤–æ—á–∫–∏, —Å–ø–∞—Å–∏–±–æ, –≤—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–û–ª—å–≥–∞,5619187,–ü—Ä—É–¥–Ω–∏–∫–æ–≤–∞,NaN,1,True,False,NaN,"{'id': 147, 'title': '–¢—é–º–µ–Ω—å'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'id': 863, 'name': '–¢—é–º–ì–£', 'type': 'universi..."
4,36,132262324,1395655062,"–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ—à–µ–ª, –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–ª–∞—Å—å –ø...",NaN,–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞,132262324,–ê–≤–¥–µ–µ–≤–∞-–ì—É—Å–∞—Ä–æ–≤–∞,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3601,9458,538100508,1611391540,"–ü–æ–∑–¥—Ä–∞–≤–ª—è—é! \n–¢—ã –Ω–∞—à—ë–ª, —á—Ç–æ –∏—Å–∫–∞–ª! \n–¢–∞–∫ –∫–∞–∫ –∏...",NaN,–ö–æ–ª–æ–¥–µ—Ü,538100508,–ë–ª–∞–≥–æ—Ç–≤–æ—Ä–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏,NaN,2,True,False,NaN,NaN,NaN,0.0,NaN,NaN
3602,9459,280737410,1611940589,!!!!!–î–≤–∞ –º–µ—Å—è—Ü–∞ –Ω–∞–∑–∞–¥ –∑–∞–∫–∞–∑–∞–ª–∞ –∫–æ—Å—Ç—é–º —É –º–µ–Ω–µ–¥–∂...,"[{'type': 'photo', 'photo': {'album_id': -12, ...",Marina,280737410,Borodina,NaN,1,True,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",0.0,NaN,"{'id': 6120, 'name': '–ö–§ –ù–ì–ü–£', 'type': 'unive..."
3603,9460,280737410,1611940733,"–ö–∞–∂–¥—ã–π –¥–µ–Ω—å –Ω–æ–≤—ã–µ –æ—Ç–≥–æ–≤–æ—Ä–∫–∏, —Ç–æ –±—É—Ö–≥–∞–ª—Ç–µ—Ä–∞ –Ω–µ—Ç...",NaN,Marina,280737410,Borodina,NaN,1,True,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",0.0,NaN,"{'id': 6120, 'name': '–ö–§ –ù–ì–ü–£', 'type': 'unive..."
3604,9463,98761340,1615272770,"–ë–æ–ª—å—à–µ –Ω–∏—á–µ–≥–æ –Ω–µ –∑–∞–∫–∞–∂—É –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ, —Ç–∞–∫ –∫...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞,98761340,–ö—É–ª–∏—à,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3605,9464,98761340,1615273083,"–ê —Å–∞—Ä–∞—Ñ–∞–Ω –Ω—É —ç—Ç–æ –≤–æ–æ–±—â–µ —Å–º–µ—ÖüòÇ, –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞,98761340,–ö—É–ª–∏—à,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN

In [131]:
result['date'] = pd.to_datetime(result['date'],unit='s')
result

,id_x,from_id,date,text,attachments,first_name,id_y,last_name,deactivated,sex,can_access_closed,is_closed,bdate,city,country,relation,relation_partner,occupation
0,27,49774489,2014-02-21 16:34:59,–ö–ª–∞—Å—Å–Ω–æ–µ –ø–ª–∞—Ç—å–µ!–º–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å –∫–∞—á–µ—Å—Ç–≤–æ...,"[{'type': 'photo', 'photo': {'album_id': -12, ...",DELETED,49774489,,deleted,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30,41377353,2014-02-27 17:08:56,–ö–æ—Å—Ç—é–º –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è! –¥–æ—Å—Ç–∞–≤–∫–∞ –∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç...,"[{'type': 'photo', 'photo': {'album_id': -15, ...",–†–æ–∑–∞–ª–∏—è,41377353,–ù–∞—É–º–æ–≤–∞,NaN,1,True,False,16.2.1983,"{'id': 135, 'title': '–°—Ç–µ—Ä–ª–∏—Ç–∞–º–∞–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",4.0,"{'first_name': '–ê–ª–µ–∫—Å–µ–π', 'id': 446145037, 'la...",NaN
2,32,65669059,2014-03-01 12:03:31,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,"[{'type': 'photo', 'photo': {'album_id': -7, '...",Adelya,65669059,Irekovna,NaN,1,True,False,NaN,"{'id': 151, 'title': '–£—Ñ–∞'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3,35,5619187,2014-03-22 03:49:52,"–î–µ–≤–æ—á–∫–∏, —Å–ø–∞—Å–∏–±–æ, –≤—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–û–ª—å–≥–∞,5619187,–ü—Ä—É–¥–Ω–∏–∫–æ–≤–∞,NaN,1,True,False,NaN,"{'id': 147, 'title': '–¢—é–º–µ–Ω—å'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'id': 863, 'name': '–¢—é–º–ì–£', 'type': 'universi..."
4,36,132262324,2014-03-24 09:57:42,"–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ—à–µ–ª, –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–ª–∞—Å—å –ø...",NaN,–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞,132262324,–ê–≤–¥–µ–µ–≤–∞-–ì—É—Å–∞—Ä–æ–≤–∞,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3601,9458,538100508,2021-01-23 08:45:40,"–ü–æ–∑–¥—Ä–∞–≤–ª—è—é! \n–¢—ã –Ω–∞—à—ë–ª, —á—Ç–æ –∏—Å–∫–∞–ª! \n–¢–∞–∫ –∫–∞–∫ –∏...",NaN,–ö–æ–ª–æ–¥–µ—Ü,538100508,–ë–ª–∞–≥–æ—Ç–≤–æ—Ä–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏,NaN,2,True,False,NaN,NaN,NaN,0.0,NaN,NaN
3602,9459,280737410,2021-01-29 17:16:29,!!!!!–î–≤–∞ –º–µ—Å—è—Ü–∞ –Ω–∞–∑–∞–¥ –∑–∞–∫–∞–∑–∞–ª–∞ –∫–æ—Å—Ç—é–º —É –º–µ–Ω–µ–¥–∂...,"[{'type': 'photo', 'photo': {'album_id': -12, ...",Marina,280737410,Borodina,NaN,1,True,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",0.0,NaN,"{'id': 6120, 'name': '–ö–§ –ù–ì–ü–£', 'type': 'unive..."
3603,9460,280737410,2021-01-29 17:18:53,"–ö–∞–∂–¥—ã–π –¥–µ–Ω—å –Ω–æ–≤—ã–µ –æ—Ç–≥–æ–≤–æ—Ä–∫–∏, —Ç–æ –±—É—Ö–≥–∞–ª—Ç–µ—Ä–∞ –Ω–µ—Ç...",NaN,Marina,280737410,Borodina,NaN,1,True,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",0.0,NaN,"{'id': 6120, 'name': '–ö–§ –ù–ì–ü–£', 'type': 'unive..."
3604,9463,98761340,2021-03-09 06:52:50,"–ë–æ–ª—å—à–µ –Ω–∏—á–µ–≥–æ –Ω–µ –∑–∞–∫–∞–∂—É –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ, —Ç–∞–∫ –∫...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞,98761340,–ö—É–ª–∏—à,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3605,9464,98761340,2021-03-09 06:58:03,"–ê —Å–∞—Ä–∞—Ñ–∞–Ω –Ω—É —ç—Ç–æ –≤–æ–æ–±—â–µ —Å–º–µ—ÖüòÇ, –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞,98761340,–ö—É–ª–∏—à,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN

In [132]:
result['date'].min(), result['date'].max()

(Timestamp('2014-02-21 16:34:59'), Timestamp('2021-03-09 06:58:03'))

In [133]:
result.loc[result['relation'] == 1, 'relation'] = '–Ω–µ –∂–µ–Ω–∞—Ç/–Ω–µ –∑–∞–º—É–∂–µ–º'
result.loc[result['relation'] == 2, 'relation'] = '–µ—Å—Ç—å –¥—Ä—É–≥/–µ—Å—Ç—å –ø–æ–¥—Ä—É–≥–∞'
result.loc[result['relation'] == 3, 'relation'] = '–ø–æ–º–æ–ª–≤–ª–µ–Ω/–ø–æ–º–æ–ª–≤–ª–µ–Ω–∞'
result.loc[result['relation'] == 4, 'relation'] = '–∂–µ–Ω–∞—Ç/–∑–∞–º—É–∂–µ–º'
result.loc[result['relation'] == 5, 'relation'] = '–≤—Å—ë —Å–ª–æ–∂–Ω–æ'
result.loc[result['relation'] == 6, 'relation'] = '–≤ –∞–∫—Ç–∏–≤–Ω–æ–º –ø–æ–∏—Å–∫–µ'
result.loc[result['relation'] == 7, 'relation'] = '–≤–ª—é–±–ª—ë–Ω/–≤–ª—é–±–ª–µ–Ω–∞'
result.loc[result['relation'] == 8, 'relation'] = '–≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ'
result.loc[result['relation'] == 0, 'relation'] = '–Ω–µ —É–∫–∞–∑–∞–Ω–æ'
result

,id_x,from_id,date,text,attachments,first_name,id_y,last_name,deactivated,sex,can_access_closed,is_closed,bdate,city,country,relation,relation_partner,occupation
0,27,49774489,2014-02-21 16:34:59,–ö–ª–∞—Å—Å–Ω–æ–µ –ø–ª–∞—Ç—å–µ!–º–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å –∫–∞—á–µ—Å—Ç–≤–æ...,"[{'type': 'photo', 'photo': {'album_id': -12, ...",DELETED,49774489,,deleted,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30,41377353,2014-02-27 17:08:56,–ö–æ—Å—Ç—é–º –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è! –¥–æ—Å—Ç–∞–≤–∫–∞ –∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç...,"[{'type': 'photo', 'photo': {'album_id': -15, ...",–†–æ–∑–∞–ª–∏—è,41377353,–ù–∞—É–º–æ–≤–∞,NaN,1,True,False,16.2.1983,"{'id': 135, 'title': '–°—Ç–µ—Ä–ª–∏—Ç–∞–º–∞–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",–∂–µ–Ω–∞—Ç/–∑–∞–º—É–∂–µ–º,"{'first_name': '–ê–ª–µ–∫—Å–µ–π', 'id': 446145037, 'la...",NaN
2,32,65669059,2014-03-01 12:03:31,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,"[{'type': 'photo', 'photo': {'album_id': -7, '...",Adelya,65669059,Irekovna,NaN,1,True,False,NaN,"{'id': 151, 'title': '–£—Ñ–∞'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3,35,5619187,2014-03-22 03:49:52,"–î–µ–≤–æ—á–∫–∏, —Å–ø–∞—Å–∏–±–æ, –≤—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–û–ª—å–≥–∞,5619187,–ü—Ä—É–¥–Ω–∏–∫–æ–≤–∞,NaN,1,True,False,NaN,"{'id': 147, 'title': '–¢—é–º–µ–Ω—å'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'id': 863, 'name': '–¢—é–º–ì–£', 'type': 'universi..."
4,36,132262324,2014-03-24 09:57:42,"–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ—à–µ–ª, –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–ª–∞—Å—å –ø...",NaN,–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞,132262324,–ê–≤–¥–µ–µ–≤–∞-–ì—É—Å–∞—Ä–æ–≤–∞,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3601,9458,538100508,2021-01-23 08:45:40,"–ü–æ–∑–¥—Ä–∞–≤–ª—è—é! \n–¢—ã –Ω–∞—à—ë–ª, —á—Ç–æ –∏—Å–∫–∞–ª! \n–¢–∞–∫ –∫–∞–∫ –∏...",NaN,–ö–æ–ª–æ–¥–µ—Ü,538100508,–ë–ª–∞–≥–æ—Ç–≤–æ—Ä–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏,NaN,2,True,False,NaN,NaN,NaN,–Ω–µ —É–∫–∞–∑–∞–Ω–æ,NaN,NaN
3602,9459,280737410,2021-01-29 17:16:29,!!!!!–î–≤–∞ –º–µ—Å—è—Ü–∞ –Ω–∞–∑–∞–¥ –∑–∞–∫–∞–∑–∞–ª–∞ –∫–æ—Å—Ç—é–º —É –º–µ–Ω–µ–¥–∂...,"[{'type': 'photo', 'photo': {'album_id': -12, ...",Marina,280737410,Borodina,NaN,1,True,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",–Ω–µ —É–∫–∞–∑–∞–Ω–æ,NaN,"{'id': 6120, 'name': '–ö–§ –ù–ì–ü–£', 'type': 'unive..."
3603,9460,280737410,2021-01-29 17:18:53,"–ö–∞–∂–¥—ã–π –¥–µ–Ω—å –Ω–æ–≤—ã–µ –æ—Ç–≥–æ–≤–æ—Ä–∫–∏, —Ç–æ –±—É—Ö–≥–∞–ª—Ç–µ—Ä–∞ –Ω–µ—Ç...",NaN,Marina,280737410,Borodina,NaN,1,True,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",–Ω–µ —É–∫–∞–∑–∞–Ω–æ,NaN,"{'id': 6120, 'name': '–ö–§ –ù–ì–ü–£', 'type': 'unive..."
3604,9463,98761340,2021-03-09 06:52:50,"–ë–æ–ª—å—à–µ –Ω–∏—á–µ–≥–æ –Ω–µ –∑–∞–∫–∞–∂—É –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ, —Ç–∞–∫ –∫...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞,98761340,–ö—É–ª–∏—à,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3605,9464,98761340,2021-03-09 06:58:03,"–ê —Å–∞—Ä–∞—Ñ–∞–Ω –Ω—É —ç—Ç–æ –≤–æ–æ–±—â–µ —Å–º–µ—ÖüòÇ, –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞,98761340,–ö—É–ª–∏—à,NaN,1,False,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN

In [134]:
result['relation'].value_counts()

–Ω–µ —É–∫–∞–∑–∞–Ω–æ                307
–∂–µ–Ω–∞—Ç/–∑–∞–º—É–∂–µ–º             221
–Ω–µ –∂–µ–Ω–∞—Ç/–Ω–µ –∑–∞–º—É–∂–µ–º        56
–≤–ª—é–±–ª—ë–Ω/–≤–ª—é–±–ª–µ–Ω–∞           16
–≤ –∞–∫—Ç–∏–≤–Ω–æ–º –ø–æ–∏—Å–∫–µ          12
–ø–æ–º–æ–ª–≤–ª–µ–Ω/–ø–æ–º–æ–ª–≤–ª–µ–Ω–∞        4
–≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ         3
–µ—Å—Ç—å –¥—Ä—É–≥/–µ—Å—Ç—å –ø–æ–¥—Ä—É–≥–∞      3
–≤—Å—ë —Å–ª–æ–∂–Ω–æ                  2
Name: relation, dtype: int64

In [140]:
result.columns

Index(['id_x', 'from_id', 'date', 'text', 'attachments', 'first_name', 'id_y',
       'last_name', 'deactivated', 'sex', 'can_access_closed', 'is_closed',
       'bdate', 'city', 'country', 'relation', 'relation_partner',
       'occupation'],
      dtype='object')

In [142]:
result[(result['relation'].isnull()) & (result['deactivated'].isnull()) & (result['is_closed'] == False)]

,id_x,from_id,date,text,attachments,first_name,id_y,last_name,deactivated,sex,can_access_closed,is_closed,bdate,city,country,relation,relation_partner,occupation
2,32,65669059,2014-03-01 12:03:31,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,"[{'type': 'photo', 'photo': {'album_id': -7, '...",Adelya,65669059,Irekovna,NaN,1,True,False,NaN,"{'id': 151, 'title': '–£—Ñ–∞'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3,35,5619187,2014-03-22 03:49:52,"–î–µ–≤–æ—á–∫–∏, —Å–ø–∞—Å–∏–±–æ, –≤—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–û–ª—å–≥–∞,5619187,–ü—Ä—É–¥–Ω–∏–∫–æ–≤–∞,NaN,1,True,False,NaN,"{'id': 147, 'title': '–¢—é–º–µ–Ω—å'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'id': 863, 'name': '–¢—é–º–ì–£', 'type': 'universi..."
6,40,218275476,2014-04-08 12:55:56,"–ü–ª–∞—Ç—å–µ —Å—É–ø–µ—Ä,—è –≤ –≤–æ—Å—Ç–æ—Ä–≥–µ ))) –°–ø–∞—Å–∏–±–æ,–æ–≥—Ä–æ–º–Ω–æ–µ...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–°–∞–∞–¥–∞,218275476,–ê–¥—É–µ–≤–∞,NaN,1,True,False,21.9.1994,NaN,NaN,NaN,NaN,NaN
7,42,20025351,2014-04-09 05:45:11,–í—Å–µ —Ä—É–∫–∏ –Ω–µ –¥–æ—Ö–æ–¥–∏–ª–∏ –Ω–∞–ø–∏—Å–∞—Ç—å) –ü–ª–∞—Ç—å–µ –ø–æ–ª—É—á–∏–ª–∞...,NaN,–î–∞—Ä—å—è,20025351,–ó–∞–±–Ω–∏–Ω–∞,NaN,1,True,False,NaN,"{'id': 158, 'title': '–ß–µ–ª—è–±–∏–Ω—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
8,43,55045007,2014-04-09 16:22:53,"–ü–ª–∞—Ç—å–µ –æ—Ç–ª–∏—á–Ω–æ–µ)) –ö–∞—á–µ—Å—Ç–≤–æ —Ö–æ—Ä–æ—à–µ–µ, –∏ –ø–æ —Ä–∞–∑–º–µ...","[{'type': 'photo', 'photo': {'album_id': 97950...",–Æ–ª–∏—è,55045007,–ë–æ–Ω–¥–∞—Ä–µ–Ω–∫–æ,NaN,1,True,False,10.7,"{'id': 87, 'title': '–ú—É—Ä–º–∞–Ω—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'id': 13514, 'name': '–ú–ò–ë–û (–±—ã–≤—à. –ú–ì–ò)', 'typ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3564,9273,242475278,2019-12-26 11:04:07,"–°–ø–∞—Å–∏–±–æ –±–æ–ª—å—à–æ–µ!–∫–æ—Å—Ç—é–º—ã –æ—á–µ–Ω—å —Ç–µ–ø–ª—ã–µ,–ø–æ–¥–æ—à–ª–∏ –ø...",NaN,–ê–ª—ë–Ω–∞,242475278,–°–∞–ª–æ–º–∞—Ç–æ–≤–∞,NaN,1,True,False,16.3,NaN,"{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3568,9289,112967207,2020-01-08 16:24:35,"–°–ø–∞—Å–∏–±–æ –∑–∞ –ø–ª–∞—Ç—å—è! –û—á–µ–Ω—å –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω–∞—è —Ç–∫–∞–Ω—å, –≤...","[{'type': 'photo', 'photo': {'album_id': -12, ...",–ê–Ω–∞—Å—Ç–∞—Å–∏—è,112967207,–ü—Ä–æ–∑–æ—Ä–æ–≤–∞,NaN,1,True,False,19.5.1999,"{'id': 141, 'title': '–¢–≤–µ—Ä—å'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'id': 15111376, 'name': 'OZON', 'type': 'work'}"
3577,9313,370358023,2020-01-29 14:37:39,–í—Å–µ–º –ø—Ä–∏–≤–µ—Ç! –¢—Ä–∏ —Ä–∞–∑–∞ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∞ –æ–¥–µ–∂–¥—É –≤ —ç—Ç–æ–º...,NaN,–û–∫—Å–∞–Ω–∞,370358023,–°—Ç–∞–≤—Ä–æ–≤—Å–∫–∞—è,NaN,1,True,False,13.1,NaN,NaN,NaN,NaN,NaN
3589,9354,145306764,2020-02-26 05:45:18,–ó–∞–∫–∞–∑—ã–≤–∞–ª–∞ –ø–ª–∞—Ç—å–µ –∏ –∫–æ—Å—Ç—é–º. –ö–∞—á–µ—Å—Ç–≤–æ —Ö–æ—Ä–æ—à–µ–µ.–ü...,NaN,–ú–∞—à–∞,145306764,–ê–¥–∏–ª—å–±–µ–∫–æ–≤–∞,NaN,1,True,False,NaN,NaN,"{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,NaN
3598,9455,8058133,2020-12-22 10:29:03,"[id12795790:bp-64545476_2354|–ò—Ä–∏–Ω–∞], –°–º—É–≥–ª—è",NaN,–ú–∏–∞–∏–ª,8058133,–õ–æ–∫—á–∞–Ω–æ–≤,NaN,2,True,False,18.8.1979,"{'id': 80, 'title': '–õ—é–±–µ—Ä—Ü—ã'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN,NaN,"{'name': 'Dharmajet inc.', 'type': 'work'}"

In [144]:
result_ = result.rename({'id_x': 'id_comment', 'from_id': 'user_id'}, axis =1)
result_['name'] = result_['first_name'] + ' ' + result_['last_name']
result_ = result_[['id_comment', 'user_id', 'date', 'text', 'name', 'deactivated', 'sex', 'is_closed', 'bdate', 'city', 'country', 'relation']]
result_

,id_comment,user_id,date,text,name,deactivated,sex,is_closed,bdate,city,country,relation
0,27,49774489,2014-02-21 16:34:59,–ö–ª–∞—Å—Å–Ω–æ–µ –ø–ª–∞—Ç—å–µ!–º–Ω–µ –æ—á–µ–Ω—å –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å –∫–∞—á–µ—Å—Ç–≤–æ...,DELETED,deleted,1,NaN,NaN,NaN,NaN,NaN
1,30,41377353,2014-02-27 17:08:56,–ö–æ—Å—Ç—é–º –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è! –¥–æ—Å—Ç–∞–≤–∫–∞ –∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç...,–†–æ–∑–∞–ª–∏—è –ù–∞—É–º–æ–≤–∞,NaN,1,False,16.2.1983,"{'id': 135, 'title': '–°—Ç–µ—Ä–ª–∏—Ç–∞–º–∞–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",–∂–µ–Ω–∞—Ç/–∑–∞–º—É–∂–µ–º
2,32,65669059,2014-03-01 12:03:31,–≤—Å—ë –∫—Ä—É—Ç–æ)))—Å–ø–∞—Å–∏–±–æ!,Adelya Irekovna,NaN,1,False,NaN,"{'id': 151, 'title': '–£—Ñ–∞'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN
3,35,5619187,2014-03-22 03:49:52,"–î–µ–≤–æ—á–∫–∏, —Å–ø–∞—Å–∏–±–æ, –≤—Å–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ...",–û–ª—å–≥–∞ –ü—Ä—É–¥–Ω–∏–∫–æ–≤–∞,NaN,1,False,NaN,"{'id': 147, 'title': '–¢—é–º–µ–Ω—å'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN
4,36,132262324,2014-03-24 09:57:42,"–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ, —Ä–∞–∑–º–µ—Ä –ø–æ–¥–æ—à–µ–ª, –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–ª–∞—Å—å –ø...",–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞ –ê–≤–¥–µ–µ–≤–∞-–ì—É—Å–∞—Ä–æ–≤–∞,NaN,1,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3601,9458,538100508,2021-01-23 08:45:40,"–ü–æ–∑–¥—Ä–∞–≤–ª—è—é! \n–¢—ã –Ω–∞—à—ë–ª, —á—Ç–æ –∏—Å–∫–∞–ª! \n–¢–∞–∫ –∫–∞–∫ –∏...",–ö–æ–ª–æ–¥–µ—Ü –ë–ª–∞–≥–æ—Ç–≤–æ—Ä–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏,NaN,2,False,NaN,NaN,NaN,–Ω–µ —É–∫–∞–∑–∞–Ω–æ
3602,9459,280737410,2021-01-29 17:16:29,!!!!!–î–≤–∞ –º–µ—Å—è—Ü–∞ –Ω–∞–∑–∞–¥ –∑–∞–∫–∞–∑–∞–ª–∞ –∫–æ—Å—Ç—é–º —É –º–µ–Ω–µ–¥–∂...,Marina Borodina,NaN,1,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",–Ω–µ —É–∫–∞–∑–∞–Ω–æ
3603,9460,280737410,2021-01-29 17:18:53,"–ö–∞–∂–¥—ã–π –¥–µ–Ω—å –Ω–æ–≤—ã–µ –æ—Ç–≥–æ–≤–æ—Ä–∫–∏, —Ç–æ –±—É—Ö–≥–∞–ª—Ç–µ—Ä–∞ –Ω–µ—Ç...",Marina Borodina,NaN,1,False,NaN,"{'id': 99, 'title': '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",–Ω–µ —É–∫–∞–∑–∞–Ω–æ
3604,9463,98761340,2021-03-09 06:52:50,"–ë–æ–ª—å—à–µ –Ω–∏—á–µ–≥–æ –Ω–µ –∑–∞–∫–∞–∂—É –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ, —Ç–∞–∫ –∫...",–ö–∞—Ç–µ—Ä–∏–Ω–∞ –ö—É–ª–∏—à,NaN,1,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN
3605,9464,98761340,2021-03-09 06:58:03,"–ê —Å–∞—Ä–∞—Ñ–∞–Ω –Ω—É —ç—Ç–æ –≤–æ–æ–±—â–µ —Å–º–µ—ÖüòÇ, –≤ —ç—Ç–æ–º –º–∞–≥–∞–∑–∏–Ω–µ...",–ö–∞—Ç–µ—Ä–∏–Ω–∞ –ö—É–ª–∏—à,NaN,1,True,NaN,"{'id': 73, 'title': '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫'}","{'id': 1, 'title': '–†–æ—Å—Å–∏—è'}",NaN

In [ ]:
result_ = pd.read_excel('')

In [1]:
result_.iloc[3, 9]

NameError: name 'result_' is not defined

In [145]:
result.to_excel('main_res.xlsx', index=False)